<html>

<h2> <%= @the_concert.artist %> </h2>

<h3> <%= @the_concert.venu %> </h3>

<h4> <%= @the_concert.city %> </h4>

<h4> <%= @the_concert.date %> </h4>

<h4> <%= @the_concert.price %> </h4>

<p> <%= @the_concert.description %> </p>

</html>