<h2>products#edit</h2>

<h3>Edit <%= @this_product.title %></h3>

<%= form_for @this_product, url: {action: "update"} do |f| %>
    
    Title: <%= f.text_field :title %>
    Description : <%= f.text_field :description %>

    <%= f.submit %>
<% end %>
